/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.custom-dialog-container .mat-mdc-dialog-container {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
}

.custom-dialog-container .mat-mdc-dialog-surface {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Make sure dialog content takes full space */
.custom-dialog-container .mat-mdc-dialog-container .mat-mdc-dialog-content {
    padding: 0 !important;
    margin: 0 !important;
    max-height: none !important;
}

/* Remove default backdrop since we're using custom overlay */
.cdk-overlay-backdrop {
    display: none !important;
}